<section>
  <h1>About Us</h1>
  <p>We're the Informatics department at conservation organisation UNEP-WCMC. We build cool web apps, often with maps, then talk about them here.</p>
  <ul>
    <li><a href="http://informatics.unep-wcmc.org/">Informatics home page</a></li>
    <li><a href="http://www.camdug.com/events/103692642/?eventId=103692642&action=detail">Cambridge Ruby User Group</a></li>
    <li><a href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a> on GitHub</li>
  </ul>
</section>
